body {
	overflow-x: hidden;
}

@media all and (max-width: 1550px) {

	.right-side {
		width: 551%;
		left: 225%;
	}

	.middle-side {
		left: 102%;
	}

}

@media all and (max-width: 1515px) {

	#whycon {

		padding: 40px 50px;

	}

}



@media all and (max-width: 1400px) {

	.left-side {
		width: 133%;
	}

}


@media all and (max-width: 1450px) {


	.right-side {
		width: 555%;
		left: 225%;
	}
}



@media all and (max-width: 1300px) {

	.left-side {
		width: 135%;
	}


	.left-side-horizon {

		padding: 20px 0px 0px 30px;
	}


	.right-side-horizon p {
		margin-bottom: 20px;
		margin-top: 22px;
		font-size: 15px;
	}

	.concon h3 {
		font-size: 18px;
	}

	.img-container {
		height: inherit;
	}

	.right-side {
		width: 560%;
		left: 225%;
	}


}

@media all and (max-width: 1280px) {

	.horizon-nav ul li a {

		font-size: 16px;
		padding: 10px 27px;
		margin-right: 30px;

	}

}

@media all and (max-width: 1200px) {

	.left-side {
		width: 165%;
	}

	.middle-side {
		left: 130%;
		width: 160%;
	}

	.right-side {
		width: 490%;
		left: 290%;
	}

}







@media all and (max-width: 1050px) {

	.left-side {
		width: 170%;
	}

	.middle-side {
		width: 170%;
	}

	.right-side {
		left: 300%;
	}

}


@media all and (max-width: 1000px) {

	.tab__header>div {

		margin-bottom: 5px;
		font-size: 12px;

	}


	.left-side {
		height: 500px;
	}

	.middle-side {
		height: 500px;
	}

	.right-side {
		height: 500px;
	}

}

@media all and (max-width: 900px) {




	.left-side {
		width: 177%;
	}


}


@media all and (max-width: 800px) {




	.left-side {
		width: 190%;
	}


}


@media all and (max-width: 700px) {

	.middle-side {
		width: 200%;
		left: 145%;
	}


	.left-side {
		width: 215%;
	}

	.right-side {
		width: 465%;
		left: 345%;
	}

	.left-side {

		padding: 0px 0px 0px 0px;
	}

	.middle-side {

		padding: 0px 0px 0px 0px;
	}



}

@media all and (max-width: 600px) {

	.middle-side {
		width: 205%;
		left: 140%;
	}

	.left-side {
		width: 220%;
	}



	.right-side {
		width: 470%;

	}

	.tab__header>div {
		margin-bottom: 5px;
		font-size: 10px;
	}



}




@media all and (max-width: 550px) {

	.middle-side {
		width: 215%;
		left: 130%;
	}

	.right-side {
		width: 487%;
	}

}




@media all and (max-width: 500px) {
	.tab__header>div {
		margin-bottom: 5px;
		font-size: 8px;
	}



	.middle-side {
		width: 233%;
		left: 111%;
	}

}

@media all and (max-width: 410px) {
	.left-side {
		width: 251%;
	}



}



@media all and (max-width: 400px) {

	.right-side {
		z-index: -1;
		width: 1000%;
		left: -50px;

	}

	.left-side {
		width: 472%;
	}


	.middle-side {
		width: 470%;
		left: 330%;
	}

	.clrightside {
		display: block;
	}


}

/* new work from Alamin */

/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
	.section-padding.padding-fluid {
		padding: 30px 0 !important;
		padding-left: 70px !important;
		padding-right: 70px !important;
	}

	.video-content {
		left: 260px;
	}

	.inner-video-area button.owl-prev {
		left: 80px;
	}

	.inner-video-area button.owl-next {
		right: 80px;
	}
}

@media (min-width: 1200px) and (max-width:1500px) {
	.banner-bg video {
		width: 120%;
		min-height: 100%;
		position: relative;
		left: -100px;
		transform: scale(1.3);
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.banner-bg video {
		display: none;
	}

	.banner-bg {
		background-image: url(./images/soft-define/hero-bg-3.jpg);
		background-position: center;
		background-size: cover;
	}

	/* inner4 testimonial */
	.testimonial-img {
		margin: 52px 7px;
	}

	.inner-testimonial-area button.owl-prev {
		left: -25px;
	}

	.inner-testimonial-area button.owl-next {
		right: -15px;
	}

	.innovation-title h2 {
		font-size: 38px;
	}

	/* offering section */
	.offerings-content {
		padding-left: 31px;
	}

	.offerings-img img {
		width: 200px;
	}

	.offerings-content p {
		font-size: 15px;
	}

	.offerings-box {
		padding: 10px;
	}

	.video-img {
		height: 700px !important;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

	/* inner 4 video section */
	.video-img {
		height: 600px !important;
	}

	.inner-testimonial-area button.owl-prev {
		left: -25px;
	}

	.inner-testimonial-area button.owl-next {
		right: -15px;
	}

	.inner-video-area button.owl-prev {
		width: 50px;
		height: 50px;
	}

	.inner-video-area button.owl-next {
		width: 50px;
		height: 50px;
	}

	.video-content h2 {
		font-size: 40px;
		line-height: 50px;
	}

	.video-content {
		left: 100px;
	}

	/* inner 4 carousel */
	.testimonial-img {
		padding: 82px 0px;
	}

	.inner-testimonial-area button.owl-prev {
		left: -26px;
	}

	.inner-testimonial-area button.owl-next {
		right: -25px;
	}

	.testimonial-title p {
		font-size: 16px;
	}

	.testimonial-btn ul li {
		display: block;
	}

	/* innovation area */
	.innovation-title h2 {
		font-size: 35px;
	}

	/* partner section */
	.partner-box {
		margin-left: 50px;
		margin-right: 50px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.soft-define-img {
		margin-bottom: 40px;
	}

	.banner-bg video {
		display: none;
	}

	.banner-bg {
		background-image: url(./images/soft-define/hero-bg-2.jpg);
		background-position: center;
		background-size: cover;
	}

	section.video-banner {
		min-height: 450px;
	}


}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) {
	.soft-define-img {
		margin-bottom: 40px;
	}

	.soft-define-btn a.default-btn {
		margin-bottom: 15px;
	}

	.nav>li {
		display: inline-block;
	}

	.single-start {
		margin-bottom: 30px;
	}

	.single-success {
		margin-bottom: 30px;
	}

	.secfooter {
		overflow: hidden;
		background: #fff;
		padding: 65px 15px;
	}

	.sidebar-menu {
		display: none;
	}

	.flip-container {
		perspective: 1000px;
		transform-style: preserve-3d;
		margin-bottom: 20px;
	}

	.banner-bg video {
		display: none;
	}

	.banner-bg {
		background-image: url(./images/soft-define/hero-bg-2.jpg);
		background-position: center;
		background-size: cover;
	}

	section.video-banner {
		min-height: 450px;
	}

	.tab {
		width: 100%;
	}

	.tabcontent {
		width: 100%;
	}

	/* main page */
	.horizon-nav ul li a {
		display: block;
		padding: 5px 5px;
		margin-right: 0;
	}
	.horizon-nav ul{
		text-align: left;
	}
	.h1pox h1 {
		font-size: 38px;
		width: 100%;
		line-height: 42px;
		margin-bottom: 30px;
	}
	.h1pox a {
		font-size: 18px;
	}
	.h1pox h1 {
		margin-bottom: 15px;
	}
	.h1pox img {
		max-width: 70% !important; 
	}
	.h1pox {
		padding-top: 50px;
	}
	.imgcrts1 {
		margin-left: 35px;
	}
	.crpr {
		height: auto;
		width: 100%;
		margin-bottom: 30px;
	}
	.crprr {
		width: 100%;
		height: auto;
	}
	.boxintro {
		padding: 0;
	}
	.whyconleft {
		margin-bottom: 30px;
	}
	#topsolusec {
		width: 100%;
		padding: 20px 18%;
		padding-bottom: 10px;
	}
	.slider_sec .owl-dots {
		left: 0;
		width: 100%;
	}
	.boxintro:last-child {
		opacity: 0;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

	/* innovation area */
	.innovation-title h2 {
		font-size: 30px;
		line-height: 45px;
	}

	.innovation-content-title h2 {
		font-size: 20px;
	}

	.innovation-content p {
		font-size: 15px;
	}

	.main-innovation {
		padding: 40px 30px;
	}

	/* offering section */
	.offerings-img img {
		width: 100px;
		height: 100px;
	}

	.offerings-content h3 a {
		font-size: 18px;
	}

	.offerings-content p {
		padding-top: 20px;
		line-height: 25px;
		font-size: 15px;
	}

	/* inner4 video */
	.video-img {
		height: 400px !important;
	}

	.inner-video-area button.owl-prev {
		left: 10px;
	}

	.inner-video-area button.owl-next {
		right: 10px;
	}

	.inner-video-area button.owl-prev {
		width: 50px;
		height: 50px;
	}

	.inner-video-area button.owl-next {
		width: 50px;
		height: 50px;
	}

	.video-content h2 {
		font-size: 25px;
		line-height: 32px;
	}

	.video-content {
		left: 65px;
	}

	.video-play-btn a i {
		left: 0%;
		font-size: 65px;
	}

	/* testimonial */
	.testimonial-title h2 {
		font-size: 30px;
		line-height: 40px;
	}

	.inner-testimonial-area .owl-dots {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	/* offering section */
	.offerings-content {
		padding-left: 20px;
	}

	.ourpartners-title h2 {
		font-size: 44px;
	}
}

@media (max-width: 575.98px) {

		/* innovation area */
		.innovation-content-title h2 {
			font-size: 25px;
		}

		/* video area */
		.video-img {
			height: 540px !important;
		}

		.inner-video-area button.owl-prev {
			width: 50px;
			height: 50px;
		}

		.inner-video-area button.owl-next {
			width: 50px;
			height: 50px;
		}

		.video-content h2 {
			color: #e6e6e6;
			font-size: 30px;
			line-height: 40px;
		}

		.video-content {
			left: 100px;
		}

		/* testimonial area */
		.testimonial-img {
			margin: 0px 40px;
		}

		.inner-testimonial-area button.owl-prev {
			left: -10px;
		}

		.inner-testimonial-area button.owl-next {
			right: -10px;
		}

		/* offering section */
		.offerings-content {
			padding-left: 30px;
		}

		/* partner section */
		.partner-box {
			margin-left: 50px;
			margin-right: 50px;
		}

		

	}